.loader {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  margin: 120px auto;
}
.loader .pulse {
  border: 3px solid transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transform: scale(0.5);
  transition: opacity 200ms linear;
}
.loader .pulse1 {
  border-color: $brown;
  animation: pulse 1s infinite;
}
.loader .pulse2 {
  border-color: $yellow;
  animation: pulse 1s 500ms linear infinite;
}

@keyframes pulse {
  to {
    transform: scale(2);
    opacity: 0;
  }
}
